<div class="container">
  <div class="row">
    <%= render 'partials/sidebar', action: 'analytics' %>
    <div class="col-lg-10 col-md-7 col-sm-12 col-xs-12 right-relative">
      <div class="col-lg-12">
        <h3>Analytics</h3>
      </div>
    </div>
  </div>
</div>
