<div class="container">
  <div class="row">
    <%= render 'partials/sidebar', action: 'analytics' %>
    <div class="col-lg-10 col-md-7 col-sm-12 col-xs-12 right-relative">
      <div class="col-lg-12">
        <h3>Analytics</h3>
      </div>
    </div>
    <div class="row stats">
      <div class="col-lg-12">
        <div class="col-lg-3">
          <div class="info-box">
            <span class="info-box-icon bg-green">
              <i class="ion ion-cash"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">TOTAL REVENUE</span>
              <span class="info-box-number"><%= @total_revenue %></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info-box">
            <span class="info-box-icon bg-blue">
              <i class="ion ion-cash"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">TOTAL_COST</span>
              <span class="info-box-number"><%= @total_cost %></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info-box">
            <span class="info-box-icon bg-red">
              <i class="ion ion-cash"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">TOTAL PROFIT</span>
              <span class="info-box-number"><%= @total_profit %></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info-box">
            <span class="info-box-icon bg-yellow">
              <i class="ion ion-ios-people-outline"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">TOTAL SALES</span>
              <span class="info-box-number">600</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
