<%= form_tag stores_path, method: :post, remote: true do %>
  <div class="form-group">
    <%= label_tag :address %><br>
    <%= text_area_tag 'store[address]', nil, class:'form-control'%>
  </div>
  <div class="actions">
    <%= submit_tag :create, class: 'btn btn-primary' %>
  </div>
<% end %>
