<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 left-fixed">
  <div class="row vendor-info">
    <%= render 'partials/avatar', user: current_vendor %>
    <h5><b><%= current_vendor.name %></b></h5>
    <h6><%= current_vendor.email %></h6>
    <ul class="actions">
      <li class="active"><a href="#"><i class="ion-ios-speedometer"></i> Dashboard</a></li>
      <li><a href="#"><i class="ion-ios-pie"></i> Analytics</a></li>
      <li><a href="#"><i class="ion-ios-monitor"></i> Manage Kiosks</a></li>
      <li><a href="#"><i class="ion-ios-albums"></i> Manage Items</a></li>
      <li><a href="#"><i class="ion-ios-people"></i> Manage Users</a></li>
    </ul>
  </div>
</div>
