<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 left-fixed">
    </div>
    <div class="col-lg-10 col-md-7 col-sm-12 col-xs-12 right-relative">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="text-center"><b>DASHBOARD</b></h4>
          <hr>
        </div>
      </div>
      <div class="row stats">
        <div class="col-lg-12">
          <div class="col-lg-3">
            <div class="info-box">
              <span class="info-box-icon bg-green">
                <i class="ion ion-cash"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="info-box">
              <span class="info-box-icon bg-blue">
                <i class="ion ion-ios-cart-outline"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="info-box">
              <span class="info-box-icon bg-red">
                <i class="ion ion-podium"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="info-box">
              <span class="info-box-icon bg-yellow">
                <i class="ion ion-ios-people-outline"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
