body {
	font-family: 'Noto Sans', sans-serif;
  padding-top: 65px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar {
  background: $navbar;
  color: $white;
  a {
    color: $white !important;
  }
}

.s-form {
  margin-top: 35px;
  .well {
    background: $white;
    padding: 20px;
    label {
      font-size: 1.45rem;
      font-weight: normal;
    }
  }
  h4 {
    margin-top: 0px;
    padding: 0px 20px 20px;
    text-align: center;
    border-bottom: 1px solid $border;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: $l-text;
  }
}