body {
	font-family: 'Noto Sans', sans-serif;
  padding-top: 65px;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
}

.navbar {
  background: $navbar;
  color: $white;
  border: none;
  a {
    color: $white !important;
  }
}

.s-form {
  margin-top: 35px;
  .well {
    background: $white;
    padding: 20px;
    label {
      font-size: 1.45rem;
      font-weight: normal;
    }
  }
  h4 {
    margin-top: 0px;
    padding: 0px 20px 20px;
    text-align: center;
    border-bottom: 1px solid $border;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: $l-text;
  }
}

.left-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  margin-top: 40px;
  padding: 20px;
  background: $sidebar;
}

.right-relative {
  position: absolute;
  right: 0;
  padding-right: 2%;
}

@media(max-width:992px) {
  .left-fixed {
    position: relative;
  }

  .right-relative {
    position: relative;
    padding: 10px 50px;
  }
}

.stats {
  .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid $border;
    margin-bottom: 15px;
    color: $white;
    small {
      font-size: 14px;
    }
    .info-box-icon {
      border-radius: 0;
      display: block;
      float: left;
      height: 90px;
      width: 90px;
      text-align: center;
      font-size: 45px;
      line-height: 90px;
    }
    .info-box-content {
      padding: 5px 10px;
      margin-left: 90px;
      text-align: center;
      color: $l-text;
      font-size: 2.5rem !important;
    }
    .info-box-number {
      display: block;
      font-weight: bold;
      font-size: 18px;
    }
    .info-box-text {
      display: block;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .info-box-more {
      display: block;
    }

    .progress-description {
      margin: 0;
    }
  }
}

.bg-blue {
  background: $blue;
}

.bg-red {
  background: $red;
}

.bg-yellow {
  background: $yellow
}

.bg-green {
  background: $green;
}

.alert-fixed {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 35%;
  margin-top: 25px;
  width: 30%;
  z-index: 10000;
  text-align: center;
}

.alert {
  padding: 10px 25px;
}

button.close {
  font-weight: lighter;
  opacity: 1;
  margin: 5px;
  font-size: 1.65rem;
}

.alert-danger {
  background: #fff;
  border-color: #f43c43;
}

.alert-info {
  background: #fff;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  color: $white;
  font-size: 4rem;
  text-align: center;
  border: 2px solid $border;
  border-radius: 10rem;
  background: $l-sidebar;
}

.vendor-info {
  color: $white;
  padding: 20px 0px;
  text-align: center;
  .avatar {
    margin-left: 35%;
  }
  .actions {
    margin-top: 30px;
    text-align: left;
    list-style: none;
    padding-left: 0;
    li {
     padding-top: 10px;
     padding-bottom: 10px;
     a {
      display: block;
      margin-left: 10px;
      text-decoration: none;
      color: $white;
      i {
        font-size: 2rem;
        margin-right: 10px;
      }
     }
     &:hover {
      cursor: pointer;
      background: $d-sidebar;
     };
    }
    li.active {
      border-left: 3px solid #3c8dbc;
      background: $d-sidebar;
    }
  }
}

.top-users {
  border: 1px solid $border;
  padding: 0px;
  h5 {
    margin-top: 0;
    display: block;
    background: #f4f4f4;
    padding: 20px 10px;
  }
  ul {
    padding-left: 0px;
    list-style: none;
    max-height: 325px;
    overflow-y: auto;
    li {
      padding: 10px;
      border-bottom: 1px solid $border;
    }
  }
}